<!DOCTYPE html>
<html>
<head>
    <title>Detalle del Producto</title>
</head>
<body>
    <h1>Detalle del Producto</h1>
    <p>Nombre: <%= producto.Tipoproducto.descripcionProducto %></p>
    <p>Precio: $<%= producto.precioCompra %></p>
    <a href="/productos/obtenerProductos">Volver a la lista de productos</a>
</body>
</html>